@font-face {
    font-family: FakePearl-Regular;
    src: url(https://cdn.jsdelivr.net/gh/max32002/FakePearl@1.1/webfont/FakePearl-Regular.woff2) format("woff2")
    , url(https://cdn.jsdelivr.net/gh/max32002/FakePearl@1.1/webfont/FakePearl-Regular.woff) format("woff");
  }
  
*{
    font-family: "FakePearl-Regular",Georgia, 'Times New Roman', Times, serif;
}

.mainColor {
    color: #003C95;
}
/* header */
.headerText {
    font-size: 26px;
    font-weight: 500;
    line-height: 100%;
    cursor: pointer;
}

#menu {
    display: none;
}

.menuNav {
    display: none !important; 
}

#logo {
    height: 80px;
    margin-left: -10px;
}
#homeBtn {
    padding: 0;
    height: 80px;
}
#banner {
    width: 100%;
}

.iconGrade {
    color: #F3B021;
}

#homeBtn {
    color: #F3B021;
}

#header .menuBtn {
    color: #003C95;  
}

#header .menuBtn:active {
    color: #003C95;  
}

#loginBtn {
    color: #003C95;  
}

#header {
    height: 80px;
}

#pointinfo {
    position: fixed;
    top: -500px;
    width: 500px;
    background-color: #fff;
    color: #003C95;
    padding: 20px 20px 10px 20px;
    border: 2px solid #ccc;
    border-radius: 20px;
    box-shadow: 0 1px 5px #333;
    z-index: 101;
    transition: all 1s ease-out;
    
}

#pointinfo h1 {
    border-bottom: 1px dashed #7F7F7F;
    margin: -20px -20px 0px -20px;
    padding: 10px;
    background-color: #003C95;
    color: #fff;
    border-radius: 20px 20px 0px 0px;
    text-align: center;
}

#pointinfo p{
    margin: 10px;
    font-size: 18px;
}

#pointinfoclose {
    background-color: initial;
    border: none;
    position: absolute;   
    top: 28px; 
    right: 35px;
    width: 30px;
    height: 30px;
    margin-top: -30px;
    margin-right: -30px;
}

#memberNav{
    position: absolute;
    top: 70px;
    right: 30px;
    border:1px solid #F3B021;
    padding: 0px 10px;
    border-radius: 5px;
    background-color: white;
    z-index: 50;
}

#memberNav h4 {
    cursor: pointer;
}
#memberHeadshot{
    height: 50px;
    width: 50px;
}
	

#bannerImg{
    position: relative;
    bottom: 4px;
    z-index: -1;
}
/* footer */
#footer {
    background-image: url('../../public/img/index/Footer_Background.png');
    background-size: 100%;
    background-repeat: no-repeat;
}

#footerlink img {
    cursor: pointer;
}
#footerInfo p {
    cursor: pointer;
}
.footerText{
    font-size: 22px;
}

/* Brand */
#brandArea {
    margin-top: 20px;
    height: 1100px;
    overflow: scroll;
    -ms-overflow-style: none;
}
/* 滾動條 start */
#brandArea::-webkit-scrollbar {
    display: none;
}

html {
    overflow: -moz-hidden-unscrollable;
    height: 100%;
}

body {
	height: 100%;
	overflow: auto;
}
/* 滾動條 end */

.brandCard {
    height: 320px;
}

.brandImg {
    overflow: hidden;
    width: 200px;
    height: 200px;
    border: 1px solid #F3B021;
    cursor: pointer;
}
.brandText{
    text-align: center  ;
}
/* RWD */
@media screen and (min-width:501px) {
    #menuNav {
        display: none !important; 
    }
}
@media screen and (max-width:1400px) {
    .brandCard {
        height: 290px;
    }
    #brandArea {
        height: 1000px;
    }
    .brandImg {
        width: 180px;
        height: 180px;
    }
    
}
@media screen and (max-width:1200px) {
    .brandCard {
        height: 230px;
    }
    .brandText{
        font-size: 24px;
    }
    #brandArea {
        height: 800px;
    }
    .brandImg {
        width: 150px;
        height: 150px;
    }
    
}

@media screen and (max-width:1060px) {
    #memberNav{
        right: 25px;
    }
    .footerText{
        font-size: 18px;
    }
}
@media screen and (max-width:992px) {
    .headerText {
        font-size: 21px;
    }
    .brandCard {
        height: 210px;
    }
    .brandText{
        font-size: 20px;
    }
    #brandArea {
        height: 730px;
    }
    .brandImg {
        width: 130px;
        height: 130px;
    }
}
@media screen and (max-width:800px) {
    #header {
        height: 60px;
    }
    #logo {
        height: 60px;
    }
    #homeBtn {
        padding: 0;
        height: 60px;
    }
    #memberHeadshot{
        height: 30px;
        width: 30px;
    }
    #memberNav{
        top:50px;
        right: 20px;
    }
    .footerText{
        font-size: 14px;
    }
    
}
@media screen and (max-width:768px) {
    .headerText {
        font-size: 18px;
    }
    .brandCard {
        height: 150px;
    }
    .brandText{
        font-size: 16px;
    }
    #brandArea {
        height: 550px;
    }
    .brandImg {
        width: 100px;
        height: 100px;
    }
    .footerText{
        font-size: 12px;
    }
}

@media screen and (max-width:650px) {
    .headerText {
        font-size: 16px;
    }
}
@media screen and (max-width:600px) {
    .headerText {
        font-size: 14px;
    }
    .brandCard {
        height: 140px;
    }
    .footerText{
        font-size: 10px;
    }
    #brandArea {
        height: 500px;
    }
    .brandImg {
        width: 80px;
        height: 80px;
    }
    #pointinfo {
        width: 300px;
    }
}
@media screen and (max-width:500px) {
    #header .menuBtn {
        visibility: hidden ; 
    }
    #menu {
        display: block !important;
        
    }
    .menuText {
        cursor: pointer;
    }

    .footerText{
        font-size: 8px;
    }
    #logo {
        margin-left: 15px;
    }
}
@media screen and (max-width:450px) {
    #logo {
        margin-left: 10px;
    }
}
@media screen and (max-width:400px) {
    #logo {
        margin-left: 5px;
    }
}
@media screen and (max-width:374px) {
    .headerText {
        font-size: 12px;
    }
    #logo {
        margin-left: 0px;
    }
}