@font-face {
  font-family: FakePearl-Regular;
  src: url(https://cdn.jsdelivr.net/gh/max32002/FakePearl@1.1/webfont/FakePearl-Regular.woff2)
      format("woff2"),
    url(https://cdn.jsdelivr.net/gh/max32002/FakePearl@1.1/webfont/FakePearl-Regular.woff)
      format("woff");
}

* {
  font-family: "FakePearl-Regular", Georgia, "Times New Roman", Times, serif;
}

.mainColor {
  color: #003c95;
}
/* header */
.headerText {
  font-size: 26px;
  font-weight: 500;
  line-height: 100%;
  cursor: pointer;
}

#menu {
  display: none;
}

.menuNav {
  display: none !important;
}

#logo {
  height: 80px;
  margin-left: -10px;
}
#homeBtn {
  padding: 0;
  height: 80px;
}
#banner {
  width: 100%;
}

.iconGrade {
  color: #f3b021;
}

#homeBtn,
.iconGrade {
  color: #f3b021;
}

#header .menuBtn {
  color: #003c95;
}

#header .menuBtn:active {
  color: #003c95;
}

#loginBtn {
  color: #003c95;
}

#header {
  height: 80px;
}

#pointinfo {
  position: fixed;
  top: -500px;
  width: 500px;
  background-color: #fff;
  color: #003c95;
  padding: 20px 20px 10px 20px;
  border: 2px solid #ccc;
  border-radius: 20px;
  box-shadow: 0 1px 5px #333;
  z-index: 101;
  transition: all 1s ease-out;
}

#pointinfo h1 {
  border-bottom: 1px dashed #7f7f7f;
  margin: -20px -20px 0px -20px;
  padding: 10px;
  background-color: #003c95;
  color: #fff;
  border-radius: 20px 20px 0px 0px;
  text-align: center;
}

#pointinfo p {
  margin: 10px;
  font-size: 18px;
}

#pointinfoclose {
  background-color: initial;
  border: none;
  position: absolute;
  top: 28px;
  right: 35px;
  width: 30px;
  height: 30px;
  margin-top: -30px;
  margin-right: -30px;
}

#memberNav {
  position: absolute;
  top: 70px;
  right: 30px;
  border: 1px solid #f3b021;
  padding: 0px 10px;
  border-radius: 5px;
  background-color: white;
  z-index: 50;
}

#memberNav h4 {
  cursor: pointer;
}
#memberHeadshot {
  height: 50px;
  width: 50px;
}

#bannerImg {
  position: relative;
  bottom: 4px;
  z-index: -1;
}
/* footer */
#footer {
  background-image: url("../../public/img/index/Footer_Background.png");
  background-size: 100%;
  background-repeat: no-repeat;
  z-index: -1;
}

#footerlink img {
  cursor: pointer;
}
#footerInfo p {
  cursor: pointer;
}
.footerText {
  font-size: 22px;
}

/* 店家資訊 (右) */
.branchCard {
  cursor: pointer;
}
.choose_right div.image {
  position: relative;
}

.choose_right div.image img.logo {
  width: 65px;
  height: 65px;
  z-index: 3;
  position: absolute;
  top: 5%;
  left: 5%;
  border-radius: 50%;
  border: 1px solid #aaaaaa;
}

.choose_right div.image img.card-img-top {
  z-index: 1;
}

.choose_right div.information {
  padding: 0% 2%;
}

.choose_right div.information .score {
  background-color: #f2f2f2;
  padding: 1% 2%;
  border-radius: 20px;
  text-align: center;
  margin: 0% auto;
}

.choose_right div.information p.score i {
  color: #f3b021;
}

.choose_right div.information p.time {
  background-color: #f2f2f2;
  padding: 1% 2%;
  border-radius: 20px;
  text-align: center;
  margin: 0% auto;
}

.choose_right div.information p.kilometre {
  background-color: #f2f2f2;
  padding: 1% 2%;
  border-radius: 20px;
  text-align: center;
  margin: 0% auto;
}

.choose_right p.card-title {
  font-size: 1.3rem;
  margin-top: 5%;
  padding-left: 2%;
}

.choose_right p.card-title a {
  text-decoration: none;
  color: black;
  font-size: 16px;
}

/* RWD */
@media screen and (min-width: 501px) {
  #menuNav {
    display: none !important;
  }
}
@media screen and (max-width: 1060px) {
  #memberNav {
    right: 25px;
  }
  .footerText {
    font-size: 18px;
  }
}
@media screen and (max-width: 992px) {
  .headerText {
    font-size: 21px;
  }
}
@media screen and (max-width: 800px) {
  #header {
    height: 60px;
  }
  #logo {
    height: 60px;
  }
  #homeBtn {
    padding: 0;
    height: 60px;
  }
  #memberHeadshot {
    height: 30px;
    width: 30px;
  }
  #memberNav {
    top: 50px;
    right: 20px;
  }
  .footerText {
    font-size: 14px;
  }
}
@media screen and (max-width: 768px) {
  .headerText {
    font-size: 18px;
  }
  .footerText {
    font-size: 12px;
  }
}
@media screen and (max-width: 650px) {
  .headerText {
    font-size: 16px;
  }
}
@media screen and (max-width: 600px) {
  .headerText {
    font-size: 14px;
  }
  .footerText {
    font-size: 10px;
  }
  #pointinfo {
    width: 300px;
  }
}
@media screen and (max-width: 500px) {
  #header .menuBtn {
    visibility: hidden;
  }
  #menu {
    display: block !important;
  }
  .menuText {
    cursor: pointer;
  }
  #logo {
    margin-left: 15px;
  }
  .footerText {
    font-size: 8px;
  }
}
@media screen and (max-width: 450px) {
  #logo {
    margin-left: 10px;
  }
}
@media screen and (max-width: 400px) {
  #logo {
    margin-left: 5px;
  }
}
@media screen and (max-width: 374px) {
  .headerText {
    font-size: 12px;
  }
  #logo {
    margin-left: 0px;
  }
}

/* 回到最上方按鈕 */
#topbtn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
  cursor: pointer;
  background-color: #f3b021;
  color: #ffffff;
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 50px;
}
