/* 
color
#F2F2F2
#AAAAAA 
#F2AF21
#003C95
#960007
#FF6482
*/

/*
font-weight
H:400
p:200
600
*/

/*

*/
@font-face {
  font-family: "FakePearl-Regular";
  src: url(https://cdn.jsdelivr.net/gh/max32002/FakePearl@1.1/webfont/FakePearl-Regular.woff2)
      format("woff2"),
    url(https://cdn.jsdelivr.net/gh/max32002/FakePearl@1.1/webfont/FakePearl-Regular.woff)
      format("woff");
}

/* @font-face {
  font-family: "GenJyuuGothicXP";
  src: url("./fonts/GenJyuuGothicX-P-Medium.ttf") format("truetype");
} */

.body-bg {
  font-family: "GenJyuuGothicXP", "FakePearl-Regular";
  background-color: #f2f2f2;
  min-height: 1700px;
}

.list-item {
  /* border: 1px solid rgb(28, 48, 55); */
  background-color: #ffff;
}

a.a-link {
  text-decoration: none;
  color: #fff;
}
a.a-link:hover {
  color: #fff;
}

.logo {
  border-radius: 50%;
  max-width: 80px;
}

.btn-pay {
  border-radius: 33px;
  background-color: #003c95;
  font-size: 20px;
  color: #ffff;
}
.btn-pay:hover {
  color: #ffff;
  background-color: #003c95;
}
.btn-garbage {
  cursor: pointer;
}

.trash,
.pencil,
.refresh {
  font-size: 24px;
  color: #555;
}

hr.hr-line {
  margin: 0;
  color: #000000;
  background-color: #000000;
  border: 1;
  opacity: 1;
  width: 100%;
}

/*-----------------------------------------------------*/
.react-datepicker-wrapper {
  width: 100%;
}
.react-datepicker__time-list-item--disabled {
  display: none;
}
.detail {
  background-color: #fff;
  max-width: 1000px;
}

.mainproduct-img {
  max-width: 200px;
  cursor: pointer;
}

.btn-join {
  background-color: #003c95;
  border-radius: 50%;
  color: #ffff;
  border: none;
  padding: 5px 15px;
}

.icon-join {
  max-width: 30px;
}

.join-box {
  border: 10px solid #003c95;
  border-radius: 10%;
  min-height: 400px;
}

.join-box button {
  color: #fff;
  border-radius: 10px;
}

.join-box img {
  width: 150px;
}
.join-box-input {
  width: 90%;
  border-radius: 10px;
  background-color: #ededed;
}

.check-details {
  max-width: 650px;
}
.input-box {
  width: 70%;
}
.close-btn {
  background-color: #fff;
  border: 1px solid #aaaaaa;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 10px;
  cursor: pointer;
  color: #003c95;
  font-size: 16px;
  font-weight: 900;
}
.close-btn:hover {
  background-color: #f2f2f2;
}
.product-img {
  width: 120px;
}

.trash3,
.pen,
.refresh {
  width: 20px;
}

.order-title {
  font-size: 20px;
  font-weight: 600;
}

.btn-edit,
.btn-delete,
.refresh-btn {
  background-color: transparent;
  border: none;
  padding: 10px;
  color: #333;
}

.btn-return,
.btn-continue,
.next-step,
.previous-step {
  border: none;
  color: #fff;
  padding: 10px;
  margin-top: 15px;
  font-size: 18px;
  text-decoration: none;
  font-weight: 500;
  cursor: pointer;
}

/* 對話盒 */
.clasImg {
  min-width: 90%;
}

.modal-content-cart {
  border-color: #f2af21 !important;
  border-width: 8px !important;
  border-radius: 36px !important;
}
*/ .row.sizetitle {
  flex: auto;
  justify-content: center;
}

/* 備註匡 */
.col-12.Text {
  /* background-color:rgba(245,175,33,0.3); */
  margin-top: 20px;
  border-radius: 10px;
}

/* 核取方塊樣式調整 */
.form-check-input.square:checked {
  background-color: #f2af21 !important;
  border-color: #f2af21 !important;
}

.form-check-input.square[type="radio"] {
  border-color: #003c95;
  border-width: 1px;
}

.form-check .form-check-input.square {
  margin-left: 0px;
}

.col-md-7.modalRight {
  font-family: "jf-openhuninn-2.0";
}

.col-4.text {
  font-size: 14pt;
  font-family: "FakePearl-SemiBold";
}

svg {
  color: #003c95;
}

.modalTitle {
  font-family: "jf-openhuninn-2.0";
  font-size: 22pt;
  text-align: center;
}

.col-6.modaltop {
  border-bottom: 2px solid #003c95;
  margin-bottom: 30px;
  padding-bottom: 10px;
  font-weight: 500;
  color: #333;
}

.col-6.modaltop {
  font-family: "jf-openhuninn-2.0";
  font-size: 22pt;
  text-align: center;
  display: flex;
  justify-content: center;
  /* 在水平方向上置中 */
  align-items: center;
  /* 在垂直方向上置中 */
}

.row.footer {
  margin-top: 30px;
}

/* 核取方塊間距調整 */
.row.sizetitle {
  padding: 10px;
}

.row.temperaturetitle {
  padding: 10px;
}

.row.sugarinesstitle {
  padding: 10px;
}

.row.sugarinesstitle {
  padding: 10px;
}

.row.sizecheck {
  padding-left: 25px;
}

.row.temperaturecheck {
  padding-left: 25px;
}

.row.sugarinesscheck {
  padding-left: 25px;
}

.row.sugarinesscheck {
  padding-left: 25px;
}

/* 加入購物車按鈕 */
.btn-outline-warning {
  --bs-btn-color: #003c95 !important;
  --bs-btn-border-color: #003c95 !important;
  --bs-btn-hover-color: #fff !important;
}

/* 加減按鈕 */
.btn.add.btn-outline-warning {
  border-radius: 100px;
}

.price {
  font-family: "jf-openhuninn-2.0";
  font-size: 22pt;
  text-align: center;
  display: flex;
  justify-content: center;
  /* 在水平方向上置中 */
  align-items: center;
  /* 在垂直方向上置中 */
}
.row.price {
  font-family: "jf-openhuninn-2.0";
  font-size: 22pt;
  text-align: center;
  display: flex;
  justify-content: center;
  /* 在水平方向上置中 */
  align-items: center;
  /* 在垂直方向上置中 */
  padding-bottom: 5px;
}

.col-4.text-center {
  font-family: "jf-openhuninn-2.0";
  font-size: 22pt;
  text-align: center;
  display: flex;
  justify-content: center;
  /* 在水平方向上置中 */
  align-items: center;
  /* 在垂直方向上置中 */
}

/* 配料按鈕樣式 */
#ingredient-title {
  font-weight: bold;
}

.form-check-input.square[type="checkbox"] {
  border-radius: 50%;
  border-color: #003c95;
  border-width: 1px;
}
.warning-hover:hover {
  color: #fff;
}

.btn-return,
.previous-step {
  background-color: #aaaaaa;
}

#progressbar {
  margin-top: 60px;
  margin-bottom: 30px;
  overflow: hidden;
  color: #003c95;
}

#progressbar .active {
  color: #f2af21;
}

#progressbar li {
  list-style-type: none;
  font-size: 15px;
  width: 25%;
  float: left;
  position: relative;
  font-weight: 400;
}

#progressbar #step1:before {
  content: "1";
  text-align: center;
}

#progressbar #step2:before {
  content: "2";
  text-align: center;
}

#progressbar #step3:before {
  content: "3";
  text-align: center;
}

#progressbar li:before {
  width: 50px;
  height: 50px;
  line-height: 45px;
  display: block;
  font-size: 20px;
  color: #ffffff;
  background: #003c95;
  border-radius: 50%;
  padding: 2px;
}

#progressbar li:not(:nth-child(2)):after {
  content: "";
  width: 90%;
  height: 2px;
  background: #003c95;
  position: absolute;
  left: 30%;
  top: 25px;
  z-index: -1;
}

#progressbar li:last-child:after {
  left: -30%;
}

#progressbar li.active:before,
#progressbar li.active:after {
  background: #f2af21;
}

fieldset:not(:first-of-type) {
  display: none;
}

.next-step {
  background: #003c95;
}
.next-step:hover,
.next-step:focus {
  background-color: #003c95;
}
.btn-continue {
  background-color: #003c95;
}

input[type="checkbox"].input_box,
input[type="radio"].input_box {
  display: none;
}

input[type="checkbox"].input_box + label::before,
input[type="radio"].input_box + label::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 1px solid #333;
  border-radius: 50%;
  background-color: #fff;
  margin-right: 10px;
  vertical-align: middle;
}

input[type="checkbox"].input_box:checked + label::before,
input[type="radio"].input_box:checked + label::before {
  background-color: #003c95;
  background-clip: content-box;
  padding: 3px;
}
.swal-title {
  font-size: 23px;
  font-weight: 500;
}
.swal-footer {
  text-align: center;
}

/* 付款方式 */

.small-text {
  font-size: 16px;
  background-color: hsla(348, 100%, 70%, 0.2);
}

.order-check {
  max-width: 600px;
}

/* 完成訂購 */
.order-check-page {
  padding: 60px 0;
}
.text-title-b {
  font-size: 24px;
  font-weight: 600;
  color: #333;
}
.text-title {
  font-size: 24px;
  font-weight: 500;
  color: #333;
}
.text-des {
  font-size: 20px;
  font-weight: 500;
  color: #333;
}

.text-des-small {
  font-size: 18px;
  color: #444;
  /* font-weight: 600; */
}
.star-danger {
  color: #960007;
}
.star-must {
  color: red;
}
.complete-order {
  max-width: 400px;
  /* margin: 0 auto; */
  border: 20px solid rgba(0, 60, 149, 0.84);
  border-radius: 20px;
  padding: 60px 0;
}
.icon-img-s {
  width: 30px;
}
.icon-img {
  width: 60px;
}

#my-id {
  display: none;
}
